*
!.gitignore
!.travis.yml
!composer.json
!LICENSE
!README.md
!src/
src/*
!src/Composer/
!src/Composer/*
!src/Composer/Command/
!src/Composer/Command/*

###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
